/* PRELOADER */
.preloader-wrapper {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.preloader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader img {
  height: 200px;
  width: auto;
}


* {
  margin: 0;
  outline: none;
}

body {
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.5s color;
}
a:hover {
  color: red;
  text-decoration: none;
}
img {
  height: 500px;
}

/* NAVBAR */
header {}
nav {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 100;
}
.navbar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 100%;
  padding: 15px 0;
  margin: 0 10%;
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}
.navbar-top-logo {
  flex: 1;
  font-size: 30px;
}
.navbar-top-logo a {
  display: flex;
  flex-direction: column;
  width: 185px;
}
.navbar-top-mobile-toggle {
  margin-right: 20px;
}
.navbar-top-mobile-toggle a {
  background-color: white;
  color: black;
  padding: 7px 10px;
  border-radius: 15%;
}
.navbar-top-mobile-toggle a:hover{
  background-color: black;
  color: white;
}
.navbar-menu-item {}


/* SLIDESHOW */
.slideshow {
  background-color: #f5f3ef;
  position: relative;
}
.slideNo {
  font-size: 50px;
  position: absolute;
  right: 20px;
  top: 0;
  text-align: right;
  text-shadow: 2px 2px white;
  z-index: 1;
}
.slideshow-slides {
  position: relative;
  display: flex;
  width: 100%;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slide img {
  margin: 0 auto;
  width: 95%;
  height: calc(100vh - 50px);
  object-fit: contain;
  background-size: contain;
}
.slick-arrow {
  background-color: gray;
  color: white;
  border: none;
  font-size: 30px;
  height: 80px;
  width: 40px;
}
.slick-arrow:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}
.slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


/* ABOUT */
.about, .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f3ef;
  padding: 50px 100px;
}
.about-intro {
  max-width: 800px;
  margin-bottom: 30px;
}
.about-intro p {
  text-align: center;
  font-size: 60px;
}
.about-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}
.about-bio-left {
  width: 50%;
  margin-right: 50px;
}
.about-bio-left p {
  font-size: 18px;
}
.about-bio-left-nums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.about-bio-left-nums p {
  text-align: center;
  width: 140px;
}
.about-bio-left-nums-num {
  color: black;
  font-size: 25px;
}
.about-bio-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-bottom: 20px;
  padding-left: 20px;
}
.about-bio-right img {
  position: relative;
  width: 100%;
  height: auto;
}
.about-bio-right-img-border {
  border: 2px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 95%;
}

/* CONTACT */
.contact-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  padding: 50px;
}
.contact-form-item {
  margin-bottom: 15px;
}
.contact-form-item input, .contact-form-item textarea {
  caret-color: red;
  width: 100%;
  height: 30px;
}
.contact-form-item textarea {
  height: 100px;
}
.submit-btn {
  background-color: red;
  color: white;
  border: 3px solid red;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  height: 60px;
  font-size: 12px;
}
.submit-btn:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: white;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}
/* contact button */
.footer-contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contact-btn a {
  background-color: black;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding: 20px;
}
.footer-contact-btn a:hover {
  background-color: rgba(0,0,0,0);
  color: black;
  transition: 0.5s background-color;
}
/* Social media buttons */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.social-media a{
  color: black;
  font-size: 25px;
}
.social-media a:hover{
  color: red;
  transition: 0.5s color;
}
/* Copyright */
.copyright {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px 0;
}
.creator-link {
  color: white;
}


/* OTHER */
.light-text {
  color: gray;
}
.dark-text {
  color: black;
}


/* device screen changes */
@media all and (max-width: 964px) {
  /* mobile/tablet navbar */
  .navbar-menu-item {
    display: none;
    margin: 10px 0;
  }
}
@media all and (min-width: 965px) {
  /* desktop navbar */
  .navbar-menu {
    flex-direction: row;
  }
  .navbar-top-mobile-toggle {
    display: none;
  }
  .navbar-menu-item {
    margin: 10px 20px;
  }
}

/* ABOUT BIO */
@media all and (max-width: 1070px) {
  .about-bio {
    flex-direction: column-reverse;
    max-width: 500px;
  }
  .about-bio-left {
    width: 100%;
    margin-right: 0;
    padding-top: 50px;
  }
  .about-bio-right {
    width: 100%;
  }
  .not-last-num {
    margin: 0;
  }
}
@media all and (max-width: 900px) {
  .about-intro p {
    font-size: 40px;
  }
}
@media all and (max-width: 700px) {
  .about-intro p {
    font-size: 30px;
  }
}


@media all and (max-width: 750px) {
  .slick-arrow {
    display: none;
  }
}
